<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="msapplication-tap-highlight" content="no" /> -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>资源分享平台</title>
  <link rel="stylesheet" href="../static/css/material.min.css">
  <link rel="stylesheet" href="../static/css/material-icons.css">
  <link rel="stylesheet" href="../static/css/mdl-selectfield.min.css">
  <link rel="stylesheet" href="../static/css/dropzone.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body name="drawer_visible">
<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="top: 0;">
  <header class="mdl-layout__header mdl-shadow--2dp po-fi chatroom_header ">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <p class="mdl-layout-title mg0 chatroom_header-title">ZHAO-Shaofeng</p>
      <div class="mdl-layout-spacer"></div>
      <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div> -->
      <!-- <button id="right_slip" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">group</i>
      </button> -->
      <button id="header-operate" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="header-operate">
        <li class="mdl-menu__item"><a href="javascript:void(0);">操作1</a></li>
        <li class="mdl-menu__item">其他操作</li>
      </ul>
    </div>
    <div class="mdl-header-bar">
      <!-- <h2 class="title">准备好发布了吗？</h2> -->
      <!-- <p class="sm-title">Created with by the fine folks at BEM</p> -->
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <!-- <a href="#scroll-tab-1" class="mdl-layout__tab is-active">全部</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">分类 1</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">分类 2</a>
      <a href="#scroll-tab-4" class="mdl-layout__tab">分类 3</a>
      <a href="#scroll-tab-5" class="mdl-layout__tab">分类 4</a>
      <a href="#scroll-tab-6" class="mdl-layout__tab">分类 5</a> -->
    </div>
    <div class="mdl-layout__header-bg" style="background: url(../static/images/icon-seamless.png)"></div>
    <a class="mdl-js-button mdl-js-ripple-effect mdl-layout__drawer-button menu-button" href="user_chat.html">
      <i class="material-icons">arrow_back</i>
    </a>
  </header>
  <main class="mdl-layout__content"></main>
</div>

<div class="flex-content">
  <div id="chatroom_main" class="popUps_box mdl-shadow--4dp">
    <div class="listview lv-message full">

      <div class="lv-body">
        <div class="lv-item media">
          <div class="lv-avatar pull-left">
            <img src="../static/images/user_default.jpg" alt="">
          </div>
          <div class="media-body">
            <div class="ms-item">你好你好你好</div>
            <small class="ms-date"><i class="material-icons">access_time</i> 2016.11.09 09:00</small>
          </div>
        </div><!--lv-item end-->
        
        <div class="lv-item media right">
          <div class="lv-avatar pull-right">
            <img src="../static/images/user.jpg" alt="">
          </div>
          <div class="media-body">
            <div class="ms-item">聊天正文聊天正文聊天正文聊天正文聊天正文聊天正文聊天正文</div>
            <small class="ms-date"><i class="material-icons">access_time</i> 2016.11.09 09:30</small>
          </div>
        </div><!--lv-item end-->
        
        <div class="lv-item media right">
          <div class="lv-avatar pull-right">
            <img src="../static/images/user.jpg" alt="">
          </div>
          <div class="media-body">
            <div class="ms-item">正文内容正文内容正文内容正文内容</div>
            <small class="ms-date"><i class="material-icons">access_time</i> 2016.11.09 09:30</small>
          </div>
        </div><!--lv-item end-->
        
        <div class="lv-item media">
          <div class="lv-avatar pull-left">
            <img src="../static/images/user_default.jpg" alt="">
          </div>
          <div class="media-body">
            <div class="ms-item">聊天正文聊天正文聊天正文聊天正文聊天正文</div>
            <small class="ms-date"><i class="material-icons">access_time</i> 2016.11.09 10:24</small>
          </div>
        </div><!--lv-item end-->
      </div><!--lv-body end-->
      <div class="lv-footer">
        <div class="textarea" contenteditable="true"></div>
        <!-- <div class="mdl-textfield mdl-js-textfield">
          <textarea class="mdl-textfield__input" type="text" id="user_talk" ></textarea>
          <label class="mdl-textfield__label" for="user_talk"></label>
        </div> -->
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">send</i>
        </button>
      </div>
    </div><!--listview end-->
  </div>
</div>

<footer id="footer" class="chatroom_footer">
    Copyright &copy; 2017 breadem.com
    
    <ul class="f-menu">
        <li><a href="#">发送反馈</a></li>
        <li><a href="#">帮助</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
</footer>


<script src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/material.min.js"></script>
<script src="../static/js/mdl-selectfield.min.js"></script>
<script src="../static/js/dropzone.min.js"></script>
<script src="../static/js/main.js"></script>
<script>
    Dropzone.autoDiscover = false;
    $("#dropzone").dropzone({
      url: "/upload",
      method:"post",
      maxFiles: 10,
      // clickable: "#dropzone_btn",
      addRemoveLinks: true,
    });
</script>
<script>
</script>
</body>
</html>